
## <summary>policy for alphacon</summary>


########################################
## <summary>
##	Transition to alphacon.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`alphacon_domtrans',`
	gen_require(`
		type alphacon_t, alphacon_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, alphacon_exec_t, alphacon_t)
')


########################################
## <summary>
##	Execute alphacon server in the alphacon domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`alphacon_initrc_domtrans',`
	gen_require(`
		type alphacon_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, alphacon_initrc_exec_t)
')


########################################
## <summary>
##	Search alphacon lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`alphacon_search_lib',`
	gen_require(`
		type alphacon_var_lib_t;
	')

	allow $1 alphacon_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read alphacon lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`alphacon_read_lib_files',`
	gen_require(`
		type alphacon_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, alphacon_var_lib_t, alphacon_var_lib_t)
')

########################################
## <summary>
##	Manage alphacon lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`alphacon_manage_lib_files',`
	gen_require(`
		type alphacon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, alphacon_var_lib_t, alphacon_var_lib_t)
')

########################################
## <summary>
##	Manage alphacon lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`alphacon_manage_lib_dirs',`
	gen_require(`
		type alphacon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, alphacon_var_lib_t, alphacon_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a alphacon environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`alphacon_admin',`
	gen_require(`
		type alphacon_t;
		type alphacon_initrc_exec_t;
		type alphacon_var_lib_t;
	')

	allow $1 alphacon_t:process { ptrace signal_perms };
	ps_process_pattern($1, alphacon_t)

	alphacon_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 alphacon_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, alphacon_var_lib_t)

')

